#
# Example virt-lab configuration.
#

[.global]
# Example common options.
key = ~/.ssh/mydefaultkey.pub
postcreate = systemd-resolve --interface {bridge} --set-dns {gateway} --set-domain {domain}

[test]
# Options for the test guests.
desc = My test environment
guests = 5
distro = centos7
key =  ~/.ssh/mykey.pub
domain = example.com
bridge = virbr0
gateway = 192.168.122.1

[dev]
# Options for the dev guests.
desc = Guests for development
distro = centos7
images = 4
postcreate = {scriptdir}/postcreate.sh
postdestroy = {scriptdir}/postdestroy.sh

[dev.1]
# Options for the first dev guest.
distro = ubuntu1804
disksize = 20
# Run this script on the guest on first boot.
scriptname = {scriptdir}/apt-install-python.sh

[dev.groups]
# Ansible inventory host groups for the dev lab.
webservers = 1..3
dbservers = 1,4
