#
# Example virt-lab configuration.
#

[test]
desc = My test environment
guests = 5
distro = centos7
key =  ~/.ssh/mykey.pub
domain = example.com
bridge = virbr0
gateway = 192.168.122.1
postcreate = systemd-resolve --interface {bridge} --set-dns {gateway} --set-domain {domain}

[dev]
desc = Guests for development
distro = debian
images = 4
postcreate = ansible-playbook xyzzy.yaml

[dev.1]
distro = centos6
disksize = 20
